@mixin btn($py: 14px, $px: 32px) {
    padding: $py $px;
    border-radius: 5px;
    background: $secondary;
    color: #fff;

}

@mixin white__btn($py: 8px, $px: 12px) {
    padding: $py $px;
    color: #1F1A2D;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    background: #FFF;
}