* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a,
input,
button {
    list-style-type: none;
    text-decoration: none;
    border: none;
    background-color: none;
    outline: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}